*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    height: 100px;
    background-color:#3498DB;
    padding: 30px;
}

#h-div{
    height: 40px;
    background-color: rgb(91, 114, 148);
}
main{
    padding:70px 50px 0px 50px;
    background-color:rgb(241,196,15);
    width:70%;
    height: 70%;
}
section{
    padding: 20px;
    margin: 30px;
    height: 130px;
    background-color: rgb(243,156,18);
}
article{
    background-color: rgb(230,126,34);
    width: 50%;
    height: 35px;
    margin: 10px;
}

aside{
    padding: 30px;
    width: 30%;
    
    background-color: rgb(231,76,60);
}

#section2{
    width: 50%px;
    background-color:rgb(192,57,43);
}

footer{
    height: 15%;
    background-color:rgb(46,204,113);
}

.main-aside{
    display: flex;
}